<mat-card>
  <div class="alert-container">
    <div class="alert-content" *ngIf="error">
      Username/Password combination is incorrect
    </div>
  </div>
  <mat-card-title>
    Hello! Please login
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Username"
                    required
                    [(ngModel)]="command.username"
                    name="username"
                    dividerColor="warm"
                    #username="ngModel">
        </mat-form-field>
        <div [hidden]="username.valid || username.pristine" class="alert">
          Username is required
        </div>
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Password"
                    [(ngModel)]="command.password"
                    ngControl="password"  name="password"
                    type="password">
        </mat-form-field>
      </div>

      <mat-card-actions>
        <button type="submit" class="login-button" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
